@charset "UTF-8";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", monospace;
  background-color: black;
  color: #00ff00;;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.container {
  text-align: center;
  border: 2px solid #00ff00;
  padding: 60px;
  box-shadow: 0 0 20px #00ff00;
}

button {
  background-color: transparent;
  color: #00ff00;
  border: 2px solid #00ff00;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 20px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00ff00;
  color: #000;
  box-shadow: 0 0 10px #00ff00;
}

#FlagBtn {
  display: none;
}